* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* header styles */

header {
  background-color: red;
}

nav {
  padding: 16px;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
}

/* main grid styles */
main {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px 1fr 1fr;
  gap: 5px;
}

h1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

h2 {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 200px;
  padding: 10px;
}

/* recipe-card styles */
.recipe-card {
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 8px 3px 5px rgb(91, 124, 139);
}

h3 {
  padding: 5px 10px;
}

.rating {
  padding: 0 10px;
}
/* footer styles */

footer {
  justify-self: flex-end;
  padding: 24px 0;
  background-color: green;
}

/* detail page styles */
.detail-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px 1fr);
  padding: 16px;
}

.ingredients {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

table {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

tr:nth-child(even) {
  background-color: aquamarine;
}

td {
  padding: 4px 15px;
}

.instructions {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

ol {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  padding: 0 15px;
}

li:nth-child(even) {
  background-color: aquamarine;
}

li {
  padding: 2px 8px;
}
